<h2 class="reservas-title">{{title}}</h2>

@if(getRole() == "Vendedor"){
    <div class="demo-button-container">
        <mat-dialog-actions>
            <button 
                mat-raised-button 
                (click)="addData()" 
                class="demo-button">
                Agregar Reserva
            </button>
        </mat-dialog-actions>
    </div>
}
<div class="mat-elevation-z8" style="margin: 10px;">
  <mat-form-field style="display: grid; padding: 1%;">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej: Joa" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="producto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; display: flexbox;"> Producto </th>
      <td mat-cell *matCellDef="let element"> {{element.producto.codigo}} | {{element.producto.barrio}} | {{element.producto.precio}}</td>
    </ng-container>
    
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; display: flexbox;"> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nombreCliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; display: flexbox;"> Nombre Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreCliente}} </td>
    </ng-container>
    
    <ng-container matColumnDef="estado"> 
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; display: flexbox;"> Estado </th>
      <td mat-cell *matCellDef="let element"> {{estadoSegunNumero(element.estado)}} </td>
    </ng-container>
    
    <ng-container matColumnDef="opciones"> 
      <th mat-header-cell *matHeaderCellDef style="text-align: center; display: flexbox;"> </th>
      <td mat-cell *matCellDef="let element"> 
        <div class="demo-button-container">
          @if(estadoSegunNumero(element.estado) == "Ingresada"){
            @if(getRole() == "Comercial"){
              <button 
              mat-raised-button 
              (click)="updateData(element.id)" 
              class="demo-button">
              Actualizar Estado Reserva
            </button>
          }
          @if(getRole() == "Vendedor"){
            <button
            mat-raised-button
            (click)="cancelarReserva(element.id)"
            class="demo-button">
            Cancelar Reserva
          </button>
                <button
                mat-raised-button
                color="warn"
                (click)="removeData(element.id)"
                class="demo-button">
                Eliminar Reserva
              </button>
            }
          }
        </div>
       </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
<mat-paginator
    [pageSizeOptions]="[5, 10, 25, 50]"
    showFirstLastButtons></mat-paginator>
</div>
