.reservas-title {
    text-align: center;
    margin-top: 15px;
}

.demo-table {
    width: 100%;
}

.demo-button-container {
    padding-bottom: 16px;
    margin: 10px;
}

.demo-button {
    margin-left: 8px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: inline-flex;
    height: auto;
    min-height: 40px;
    text-align: center;
}