<h2 class="usuarios-title">{{ title }}</h2>

<div class="demo-button-container" style="margin: 10px;">
    <button
      mat-raised-button
      (click)="addNewRol()"
      class="demo-button"
    >
      Crear Nuevo Rol
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="deleteRol()"
      class="demo-button"
    >
      Eliminar Rol
    </button>
  </div>

<div class="mat-elevation-z8" style="margin: 10px;">
    <mat-form-field style="display: grid; padding: 1%;">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej: adm" #input>
    </mat-form-field>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="usuario">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="text-align: center; display: flexbox;"
        [attr.rowspan]="2"
      >
        Usuario
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="ingresadas">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; display: flexbox;">Ingresadas</th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        {{getCantReservas(element)[0]}}
      </td>
    </ng-container>

    <ng-container matColumnDef="aprobadas">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; display: flexbox;">Aprobadas</th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        {{getCantReservas(element)[1]}}
      </td>
    </ng-container>

    <ng-container matColumnDef="rechazadas">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; display: flexbox;">Rechazadas</th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        {{getCantReservas(element)[2]}}
      </td>
    </ng-container>

    <ng-container matColumnDef="canceladas">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; display: flexbox;">Canceladas</th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        {{getCantReservas(element)[3]}}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalVentas">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="text-align: center; display: flexbox;"
        [attr.rowspan]="2"
      >
        Total Vendido $
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center">
        {{getCantReservas(element)[4]}}
      </td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="text-align: center; display: flexbox;"
        [attr.rowspan]="2"
      >
        Roles
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <div>
            <li *ngFor="let rol of element.roles" style="list-style: none">
              {{ rol.name }}
              <button
                mat-raised-button
                (click)="removeRoleToUser(element.id, rol.id)"
                class="demo-button"
                color="warn"
                style="text-align: center"
              >
                Quitar Rol
              </button>
            </li>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="text-align: center; display: flexbox;"
        [attr.rowspan]="2"
      >
        
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="demo-button-container">
          <button
            mat-raised-button
            (click)="addRoleToUser(element)"
            class="demo-button"
          >
            Agregar Nuevo Rol
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="removeUser(element.id)"
            class="demo-button"
          >
            Eliminar Usuario
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="reservas">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="text-align: center"
        [attr.colspan]="4"
      >
        Reservas
      </th>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="[
        'usuario',
        'reservas',
        'totalVentas',
        'roles',
        'opciones'
      ]"
    ></tr>
    <tr
      mat-header-row
      *matHeaderRowDef="['ingresadas', 'aprobadas', 'rechazadas', 'canceladas']"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 50]"
    showFirstLastButtons
  ></mat-paginator>
</div>
