@if(getRole() == "Vendedor"){
    <h2 mat-dialog-title class="mat-dialog-title">Agregar Reserva</h2>
    @if(negar){
        <mat-dialog-content>
            <p>
                No es posible agregar una nueva reserva, ya que usted alcanzo el limite de 3 reservas en estado "Ingresada".
            </p>
            <mat-dialog-actions class="demo-button">
                <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
            </mat-dialog-actions>
        </mat-dialog-content>
    }@else{
        <mat-dialog-content>
            <mat-form-field class="mat-form-field">
                <mat-label>Barrio</mat-label>
                <input placeholder="Barrio" matInput [(ngModel)]="barrioInput">
            </mat-form-field>
            <form [formGroup]="dialogForm" (ngSubmit)="guardarReserva()">
                <mat-form-field class="mat-form-field">
                    <mat-label>Productos Disponibles</mat-label>
                    <mat-select formControlName="productoId">
                      <mat-option *ngFor="let producto of productos" [value]="producto.id">
                        {{producto.codigo}} | {{producto.barrio}} | ${{producto.precio}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <mat-label>Nombre Cliente</mat-label>
                    <input placeholder="Nombre Cliente" matInput formControlName="nombreCliente">
                </mat-form-field>
                <mat-dialog-actions class="demo-button">
                    <button mat-raised-button type="submit" cdkFocusInitial>Guardar</button>
                    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
                </mat-dialog-actions>
            </form>
        </mat-dialog-content>
    }
}

@if(getRole() == "Comercial"){
    <h2 mat-dialog-title class="mat-dialog-title">Actualizar Estado Reserva</h2>
    <mat-dialog-content >
        <mat-form-field class="mat-form-field">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="estado" required>
                <mat-option [value]="EstadoReserva.Aprobada">Aprobada</mat-option>
                <mat-option [value]="EstadoReserva.Rechazada">Rechazada</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-dialog-actions class="demo-button">
            <button mat-raised-button (click)="actualizarEstado()" cdkFocusInitial>Guardar</button>
            <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
        </mat-dialog-actions>
    </mat-dialog-content>
}


