.mat-dialog-title {
    text-align: center;
}

.demo-button-container {
    padding-bottom: 16px;
}

.demo-button {
    align-items: center;
    margin-left: 8px;
    margin-top: 10px;
    display: inline;
    float: right;
}

.modal-form {
    max-width: 400px;
    margin: 0 auto;
}

.mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}