.productos-title {
    text-align: center;
    margin-top: 15px;
}

.demo-table {
    width: 100%;
}

.demo-button-container {
    padding-bottom: 16px;
    margin: 10px;
}

.demo-button {
  margin-left: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
  display: inline-flex;
  height: auto;
  min-height: 40px;
  text-align: center;
}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }