.menu-icon{
    color: white !important;
}

.demo-title {
    margin-right: 8px;
    float: left;
}

.menu-icon:hover{
    background-color: #0a0275;
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}

