<mat-toolbar *ngIf="isLoggedIn" style="background-color: #0a0089;">
    <span class="demo-title" style="color: white;">{{title}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon">
        <mat-icon>menu</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="redirectReservas()">Reservas</button>
            <button mat-menu-item (click)="redirectProductos()">Productos</button>
            @if(getRole() == "Admin"){
                <button mat-menu-item (click)="redirectUsuarios()">Usuarios</button>
            }
            @if(getRole() == "Comercial" || getRole() == "Admin"){
                <button mat-menu-item (click)="redirectReportes()">Reporte de Ventas</button>
            }
        </mat-menu>
    </button>
    <span class="example-spacer"></span>
    <button mat-button (click)="logout()" class="menu-icon">DESLOGUEAR</button>
</mat-toolbar>