.login-title {
  text-align: center;
}

.login-form {
  border: 2px solid #0a0275;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 290px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 400px){
  .login-form{
    width: 90%;
  }
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-submit {
  background-color: #2e9057;
  color: #fff;
}

.button-go-to-login {
  color:#007bff;
  text-decoration: none;
}

.mat-form-field {
  display: block !important;
  position: relative;
  text-align: left;
}

.text-danger{
  color: red;
}